.open-button {
  animation: none;
}
/*  header
  --------------------------------*/
.header-container {
  width: 100vw;
  height: 11vw;
  position: relative;
  margin-bottom: 30px;
}
.header-container img {
  width: 142px;
  height: 74px;
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 30px;
}
.open-button span,
.open-button span:before,
.open-button span:after {
  background: #000000;
}

/*  main contact
--------------------------------*/
.contact-relative {
  height: 400px;
  position: relative;
}
.contact-bgArea {
  position: absolute;
  background-color: #f2db94;
  width: 105vw;
  height: 302px;
  clip-path: polygon(0 0, 75% 0, 85% 50%, 75% 100%, 0 100%);
}
.row {
  max-width: 1240px;
  width: 86.111%;
  margin: 0 auto;
}
.contact-bgArea h1 {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  color: #000000;
  letter-spacing: 0.05em;
  line-height: 12rem;
  padding-top: 70px;
}
.contact-bgArea p {
  font-size: 2.4rem;
}
@media (max-width: 960px) {
  .header-container {
    margin-bottom: 50px;
  }
  .contact-bgArea {
    position: absolute;
    background-color: #f2db94;
    width: 105vw;
    height: 260px;
    clip-path: polygon(0 0, 75% 0, 85% 50%, 75% 100%, 0 100%);
  }
  .contact-bgArea h1 {
    font-size: 6rem;
    padding-top: 30px;
  }
  .contact-bgArea p {
    font-size: 1.6rem;
  }
}

/*  attention
  --------------------------------*/
.attention-area {
  max-width: 1240px;
  width: 86.111%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.attention-wrapper {
  background-color: #ededed;
  width: 50vw;
  /* height: 260px; */
  max-width: 933px;
  margin: 0 auto;
}
.attention-text {
  padding: 40px;
}
.attention-wrapper h3 {
  padding-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
.attention-wrapper h3 span {
  color: #ff0000;
}

@media (max-width: 960px) {
  .attention-wrapper {
    width: 60vw;
    height: 300px;
    max-width: 810px;
    margin: 0 auto;
  }
  .attention-text {
    padding: 40px;
  }
  .attention-wrapper h3 {
    padding-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .attention-wrapper {
    width: 60vw;
    height: 400px;
    max-width: 440px;
    margin: 0 auto;
  }
  .attention-text {
    padding: 20px;
  }
}
/*  check-number
  --------------------------------*/
.checkArea {
  margin-bottom: 160px;
}
.check-numberArea {
  width: 38vw;
  height: 3vw;
  max-width: 550px;
  max-height: 35px;
  margin: 0 auto;
  margin-bottom: 75px;
}
.check-numberArea ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-numberArea ul div {
  width: 4vw;
  height: 1px;
  border-bottom: solid 1px #707070;
}
.check-numberArea ul span {
  font-size: 2.4rem;
}
.check-numberArea ul li {
  white-space: nowrap;
  padding-bottom: 8px;
  margin-left: 20px;
}
.check-numberArea li:nth-of-type(2) {
  border-bottom: solid 3px #a0a654;
}
@media (max-width: 520px) {
  .check-numberArea ul span {
    font-size: 1.6rem;
  }
}
